.service-overview {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding: 0.8rem 0;
}

.service-overview__item {
  height: 90px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: var(--action-color);
  margin-top: 5px;

  p {
    width: 100px;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 730px) {
  .service-overview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
