.testimonials-wrapper {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem;

  background: rgb(253, 253, 253);
  background: -moz-linear-gradient(
    317deg,
    rgba(253, 253, 253, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
  background: -webkit-linear-gradient(
    317deg,
    rgba(253, 253, 253, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
  background: linear-gradient(
    317deg,
    rgba(253, 253, 253, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfdfd",endColorstr="#e4e4e4",GradientType=1);

  h1 {
    font-family: "Playfair Display", sans-serif, system-ui;
  }

  p {
    font-family: "Manrope", sans-serif, system-ui;
    color: var(--action-color);
    font-weight: bold;
    margin-bottom: 1rem;
  }
}

.testimonials-container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  height: 450px;
  margin-top: 3rem;
  background-color: var(--theme-color);
  border-radius: 20px;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.testimonials-profile {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 300px;
    width: 350px;
    min-height: 300px;
    min-width: 350px;
  }
}

.testimonials-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials-content__text-cnt {
  margin: 1rem;
  width: 485px;
  font-family: "Manrope", sans-serif, system-ui;
  color: var(--white);
  position: relative;

  img {
    position: absolute;
    height: 30px;
  }

  img:first-child {
    top: -30px;
    left: -40px;
    margin-left: 1.5rem;
  }

  img:nth-child(2) {
    bottom: -15px;
    right: -30px;
    margin-right: 1rem;
  }

  p {
    color: var(--context-lite);
  }

  h1 {
    font-family: "Playfair Display", sans-serif, system-ui;
    margin: 1rem 0;
  }
}

@media (max-width: 1126px) {
  .testimonials-container {
    height: max-content;
    padding: 1rem 1rem;
    padding-top: 2rem;
  }

  .testimonials-content__text-cnt {
    width: 100%;
    min-width: 427px;
    max-width: 600px;
  }
}

@media (max-width: 1016px) {
  .testimonials-wrapper {
    padding: 3rem 2rem;
  }
}

@media (max-width: 555px) {
  .testimonials-wrapper {
    h1 {
      text-align: center;
    }
  }

  .testimonials-content__text-cnt {
    width: 100%;
    min-width: 97px;
    max-width: 600px;
  }

  .testimonials-profile {
    justify-content: center;
    align-items: center;

    img {
      margin-left: -30px;
    }
  }
}

@media (max-width: 415px) {
  .testimonials-profile {
    img {
      min-height: 230px;
      min-width: 280px;
      margin-right: 20px;
    }
  }
}
